<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= image_tag(@product.vignette4.wikia.nocookie.net/startrek/images/a/a3/USS_Enterprise.jpg/revision/latest?cb=20150117143830, class: "img-responsive") %>
</p>

<p>
  <strong>Color:</strong>
  <%=@product.color %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
